.container {
    position: fixed;
    top: 0;
    left: 50%;
    right: 50%;
    padding: 8% 0;
    margin: 0 -200px;
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.content {
    text-align: center;
    
    h2 {
        margin: 0;
    }
}

@media(min-width: 768px) {
    .container {
        padding: 4% 0;
    }
}