.container {
    margin: auto;
    border: 1px solid white;
    line-height: 0;
    margin-bottom: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.grid {
    border-style: solid;
    border-color: #191919;
    display: inline-block;
    font-size: 5px;
}

.snake {
    background: #00FF48;
}

.food {
    background: #FF0000;
}