.container {
    margin: auto;
    border: 1px solid white;
}

.grid {
    border-style: solid;
    border-color: #191919;
    display: inline-block;
    font-size: 5px;
}

.snake {
    background: #00FF48;
}

.food {
    background: #FF0000;
}