@import '../styles/_styles.module.scss';

body {
	color: white;
	-webkit-font-smoothing: antialiased;
}

.intro {
	min-height: 100vh;
}

.introContent {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
	padding: 0 4%;
	width: 100%;
	position: fixed;

	.line {
		display: flex;
		flex-direction: row;

		span {
			display: inline-block;
			line-height: 1.4;
			transition: transform 1200ms cubic-bezier(1, 0, 0.25, 1) 0s;
			line-height: 1;
			font-size: 6.5vw;
		}
	}

	.line:nth-child(1) {
		justify-content: flex-start;
		animation: line1 1000ms ease-in-out;
	}
	
	.line:nth-child(2) {
		justify-content: flex-end;
		animation: line2 1100ms ease-in-out;
	}
	
	.line:nth-child(3) {
		justify-content: flex-end;
		animation: line3 1050ms ease-in-out;
	}
	
	.line:nth-child(4) {
		justify-content: flex-start;
		animation: line4 1200ms ease-in-out;
	}
	
	.line:nth-child(5) {
		justify-content: space-between;
		:first-child {
			animation: line5-1 1100ms ease-in-out;
		}
		:last-child {
			animation: line5-2 1100ms ease-in-out;
		}
	}

	.line:nth-child(6) {
		justify-content: flex-end;
		animation: line6 1050ms ease-in-out;
	}
}

@keyframes line1 {
	0% {
		transform: translateX(17.9%)
	}
}

@keyframes line2 {
	0% {
		transform: translateX(-27.5%)
	}
}

@keyframes line3 {
	0% {
		transform: translateX(-37.5%)
	}
}

@keyframes line4 {
	0% {
		transform: translateX(22.5%)
	}
}

@keyframes line5-1 {
	0% {
		transform: translateX(58.5%)
	}
}

@keyframes line5-2 {
	0% {
		transform: translateX(-58.5%)
	}
}

@keyframes line6 {
	0% {
		transform: translateX(-34.5%)
	}
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
	position: relative;
	z-index: 3;
	background-color: $background;

    ul {
        list-style: none;
		padding: 0;
		
		li {
			margin: 40px;
		}

		li:nth-child(1) {
			animation-delay: 0.2s;
		}

		li:nth-child(2) {
			animation-delay: 0.4s;
		}

		li:nth-child(3) {
			animation-delay: 0.6s;
		}

		a {
			color: white;
			text-decoration: none;
			font-size: 1.9em;
			display: block;
			font-weight: bold;
			text-align: center;
		}
		 
		a:hover {
			text-shadow: 
				-1px -1px 0 white,
				1px -1px 0 white,
				-1px 1px 0 white,
				1px 1px 0 white;
			color: black;
		}
    }
}

@media (min-width: 500px) {
	.projects {
		ul {
			a {
				font-size: 2.5em;
			}
		}
	}
}

@media (min-width: 700px) {
	.projects {
		ul {
			a {
				font-size: 3.5em;
			}

			li {
				margin: 45px;
			}
		}
	}
}


@media (min-width: 768px) {
    .introContent {
		padding: 10vh 4%;
		
		.line {
			margin: 0 -7px;
		}
    }
}

@media (min-width: 1000px) {
	.projects {
		ul {
			a { 
				font-size: 5em;
			}

			li {
				margin: 60px;
			}
		}
	}
}

@media screen and (orientation: landscape) {
	.text {
		font-size: 6.5vmax;
	}
}